* {
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
  line-height: 110%;
}
header {
  background-color: #4aabc3;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 7rem;
  background-image: url("https://raw.githubusercontent.com/UWFront-End-Cert/starters/master/lesson04-mock2-banner-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
aside {
  float: right;
  padding: 1rem;
  margin-right: 7rem;
  padding-right: 3rem;
  width: 30%;
}
h1 {
  color: #FFFFFF;
  font-size: 3rem;
  padding: 0rem
}
h2 {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: lighter;
  margin-top: -2rem;
  width: 25%;
}
h3 {
  color: #453f3d;

}
h4 {
  margin-bottom: -1rem;
}

p{
  font-size: 98%;
  color: #453f3d;
}

figure>img {
  width: 95%;
}

blockquote {
  color:#4aabc3;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
nav {
  background-color: #ECECEC;
  padding: 1rem;
  padding-left: 7rem;
  font-weight: bold;
  color: black;
}

.nav a {
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav a:visited {
  color: darkslateblue;
}

.nav a:hover {
  color: #ffffff;
  background-color: olivedrab;
}
article {
  margin-left: 7rem;
  margin-right: 1rem;
}
.narrow {
  margin-left: 7rem;
  margin-right: 1rem;
  width: 55%
}

.bluetext {
  color: #4aabc3
}
footer {
  clear: both;
  background-image: url("https://raw.githubusercontent.com/UWFront-End-Cert/starters/master/lesson04-mock4-footer-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #453f3d;
  color: white;
  font-size: 0.75rem;
  padding: 5rem;
  text-align: center;
}
a {
  color: #4aabc3;
  font-size: 1rem;
}

.footer {
  color: #FFFFFF;
}
.footer img {
  width: 200px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  margin-left: 2rem;
  margin-right: 2rem;
}
.box {
width: 30%;
background-color: darkslateblue;
border-radius: 2rem;
padding: 2rem;
margin-bottom: 1rem;
}
.img {
  object-fit: contain;
  width: 100%;
}
.box > p {
  color: #ffffff;
}
.image {
height: 200px;
width: 300px;
  overflow: hidden;
}
.img:hover {
  transition-delay: 0s;
  transition-duration: 1s;
  transition-property: all;
  transform: scale(1.5);
}
.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}
.hidden:focus {
  left: 0;
}
